body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADING SECTION */

.heading-Section{
  padding: 40px;
}

p{
line-height: 2;
}

.anime-img{
  float: right;
}

/*  MENU SECTION */

h1{
  padding-bottom: 30px;
  font-family: 'Smokum', cursive;
  font-size: 5rem;
  color: #E83A14;
}
h2{
  padding-bottom: 30px;
  font-family: 'Smokum', cursive;
  font-size: 3rem;
}


img{
  height: 40%;
  width: 50%;
  border-radius: 30%;
}

.img-sec{
  margin-bottom: 20px;
}

select{
  margin-top: 10px;
  cursor: pointer;
}



/* CART SECTION */
.btn{
margin: 20px;

}



/* CONTACT-ME SECTION */
.contact-me{
background-color: #180A0A;
color: #fff;
text-align: center;
padding: 40px;
margin-top: 30px;
}

/* FOOTER SECTION */
footer{
  text-align: center;
  color: #fff;
  background-color: #180A0A;
  padding: 20px;
}
