body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADING SECTION */

.heading-Section{
  padding: 40px;
}

p{
line-height: 2;
}

.anime-img{
  float: right;
}

/*  MENU SECTION */

h1{
  padding-bottom: 30px;
}

img{
  height: 40%;
  width: 50%;
  border-radius: 30%;
}

.img-sec{
  margin-bottom: 20px;
}

select{
  margin-top: 10px;
}

/* CART SECTION */








/* CONTACT-ME SECTION */
.contact-me{
background-color: #39AEA9;
text-align: center;
padding: 40px;
margin-top: 30px;
}
