body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADING SECTION */

.heading-Section{
  padding: 40px;
}

p{
line-height: 2;
}


/*  MENU SECTION */

img{
  height: 40%;
  width: 50%;
  border-radius: 30%;
}

.img-sec{
  margin-bottom: 20px;
}
